body {
    background-color: cornsilk;
}

ul {
    list-style-position: inside;
    text-align: center;
}

.introduction {
    font-size: 10px;
    font-style: italic;
}

.header-center {
    text-align: center;
}