body {
    background-color: cornsilk;
}

ul {
    list-style-position: inside;
    text-align: center;
}

.introduction {
    font-size: 14px;
    font-style: italic;
}

.two-words {
    text-decoration: line-through;
}

h1 {
    text-decoration: underline;
}

.header-center {
    text-align: center;
}

.note {
    font-weight: bold;
}

.return {
    font-weight: bold;
}