body { 
    background-color: cornsilk; /* Добавила фон всей странице */
    padding: 20px; /* Отсуп от текста и картинок на 20 пкс */
    border: 2px solid rgba(0, 0, 0, 0.6); /* Рамку сплошную с прорачностью 60% */
}

ul { /* Список глав */
    list-style-position: inside; /* Сцепила маркеры с текстом */
    text-align: center; /* Выровняла по центру */
}

.introduction { /* Введение в книгу */
    font-size: 14px;
    font-style: italic;
}

.two-words { /* Два зачеркнутых слова (класс) */
    text-decoration: line-through;
}

h1 {
    text-decoration: underline;
}

.header-center {
/* Заголовки h2 по центру (через класс,  можно было через h2 просто?)*/
    text-align: center;
}

.note { /* Заметки жирные */
    font-weight: bold;
}

.return { /* "Вернуться в начало" жирное*/
    font-weight: bold;
}